.home-container {
    margin: 1em;
}

.home-card-container {
    margin: 1em;
}

.home-char-container {
    margin: 1em;
    padding: 0 1em 0 1em;
}

@media (min-width: 1200px) {
    .home-container {
        display: flex;
        justify-content: space-around;
    }

}
